*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
header{
   
    // background-image: url(../../assets/img/bg\ img.png);
    height: 850px;
    // background-position: center;
    width: 100%;
    // background-size: cover;
    .content{
        padding: 5%;
        width: 100%;
        display: flex;
        // flex-direction: column;
        justify-content: space-between;
        align-items: center;
        text-align: start;
        h2{
            color:  #81047c;
            padding: 20px;
            font-size: 40px;

        }
        li{
            padding: 10px  0px 10px 30px;
            list-style-type: none;
            font-weight: 500;
            font-size: 20px;
        }
    
    }
    form{
        display: flex;
        justify-content: start;
        align-items: center;
        padding: 20px;
        input{
            outline: none;
            border: none;
            font-size: 20px;
            padding: 10px 30px;
            
        }
        .btn{
            background: blue;
            color: white;
        }
    }
}
@media screen and (max-width: 1000px){
    header{
   
        // background-image: url(../../assets/img/bg\ img.png);
        height:100%;
        // background-position: center;
        width: 100%;
        // background-size: cover;
        .content{
            padding: 5%;
            width: 100%;
            display: flex;
            // flex-direction: column;
            justify-content: space-between;
            align-items: center;
            text-align: start;
            h2{
                color:  #81047c;
                padding: 10px;
                font-size: 15px;
    
            }
            li{
                padding: 10px  0px 10px 20px;
                list-style-type: none;
                font-weight: 600;
                font-size: 10px;
            }
        
        }
        form{
            display: flex;
            justify-content: start;
            align-items: center;
            padding: 10px;
            input{
                outline: none;
                border: none;
                font-size: 10px;
                padding: 5px 10px;
                
            }
            .btn{
                background: #81047c;
                color: white;
            }
        }
    }
}
@media screen and (max-width: 700px){
    header{
   
       
        height:50%;
      
        width: 100%;
      
        .content{
            padding: 2%;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            text-align: start;
            h2{
                color:  #81047c;
                padding: 5px;
                font-size: 10px;
    
            }
            li{
                padding: 10px;
                list-style-type: none;
                font-weight: 600;
                font-size: 8px;
            }
        
        }
        form{
            display: flex;
            justify-content: start;
            align-items: center;
            padding: 5px;
            input{
                outline: none;
                border: none;
                font-size: 8px;
                padding: 3px 8px;
                
            }
            .btn{
                background: #81047c;
                color: white;
            }
        }
    }
}