main{
    .payments{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
       
        h2{
            font-size: 40px;
            text-transform: capitalize;
        }
        .payment-type{
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            margin: 40px;
            gap: 40px;
            .payment-type-list{
              
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                align-items: center;
                height: 500px;
                padding: 20px;
                background-color: whitesmoke;
                border-radius: 10px;
                max-width: 400px;
                svg{
                    height: 80px
                }
                h2{
                    color: #81047c;
                    font-size: 30px;

                }
                p{
                    font-size: 30px;
                    text-align: center;
                }
                
            }
        }
    }
}