@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

header {
  height: 850px;
  width: 100%;
}
header .content {
  padding: 5%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: start;
}
header .content h2 {
  color: #81047c;
  padding: 20px;
  font-size: 40px;
}
header .content li {
  padding: 10px 0px 10px 30px;
  list-style-type: none;
  font-weight: 500;
  font-size: 20px;
}
header form {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 20px;
}
header form input {
  outline: none;
  border: none;
  font-size: 20px;
  padding: 10px 30px;
}
header form .btn {
  background: blue;
  color: white;
}

@media screen and (max-width: 1000px) {
  header {
    height: 100%;
    width: 100%;
  }
  header .content {
    padding: 5%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: start;
  }
  header .content h2 {
    color: #81047c;
    padding: 10px;
    font-size: 15px;
  }
  header .content li {
    padding: 10px 0px 10px 20px;
    list-style-type: none;
    font-weight: 600;
    font-size: 10px;
  }
  header form {
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 10px;
  }
  header form input {
    outline: none;
    border: none;
    font-size: 10px;
    padding: 5px 10px;
  }
  header form .btn {
    background: #81047c;
    color: white;
  }
}
@media screen and (max-width: 700px) {
  header {
    height: 50%;
    width: 100%;
  }
  header .content {
    padding: 2%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: start;
  }
  header .content h2 {
    color: #81047c;
    padding: 5px;
    font-size: 10px;
  }
  header .content li {
    padding: 10px;
    list-style-type: none;
    font-weight: 600;
    font-size: 8px;
  }
  header form {
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 5px;
  }
  header form input {
    outline: none;
    border: none;
    font-size: 8px;
    padding: 3px 8px;
  }
  header form .btn {
    background: #81047c;
    color: white;
  }
}
main .payments {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
main .payments h2 {
  font-size: 40px;
  text-transform: capitalize;
}
main .payments .payment-type {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 40px;
  gap: 40px;
}
main .payments .payment-type .payment-type-list {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 500px;
  padding: 20px;
  background-color: whitesmoke;
  border-radius: 10px;
  max-width: 400px;
  background: #cbcbcb;
}
main .payments .payment-type .payment-type-list svg {
  height: 80px;
}
main .payments .payment-type .payment-type-list h2 {
  color: #81047c;
  font-size: 30px;
}
main .payments .payment-type .payment-type-list p {
  font-size: 30px;
  text-align: center;
}

@media screen and (max-width: 1000px) {
  main .payments {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  main .payments h2 {
    font-size: 20px;
    text-transform: capitalize;
  }
  main .payments .payment-type {
    display: flex;
    justify-content: space-evenly;
    flex: wrap;
    align-items: center;
    margin: 20px;
    gap: 40px;
  }
  main .payments .payment-type .payment-type-list {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 200px;
    padding: 10px;
    background-color: whitesmoke;
    border-radius: 10px;
    max-width: 200px;
    background: #cbcbcb;
  }
  main .payments .payment-type .payment-type-list svg {
    height: 40px;
  }
  main .payments .payment-type .payment-type-list h2 {
    color: #81047c;
    font-size: 15px;
  }
  main .payments .payment-type .payment-type-list p {
    font-size: 15px;
    text-align: center;
  }
}
@media screen and (max-width: 700px) {
  main .payments {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  main .payments h2 {
    font-size: 20px;
    text-transform: capitalize;
  }
  main .payments .payment-type {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
  }
  main .payments .payment-type .payment-type-list {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 150px;
    padding: 20px;
    background-color: whitesmoke;
    border-radius: 10px;
    max-width: 150px;
    background: #cbcbcb;
  }
  main .payments .payment-type .payment-type-list svg {
    height: 30px;
  }
  main .payments .payment-type .payment-type-list h2 {
    color: #81047c;
    font-size: 12px;
  }
  main .payments .payment-type .payment-type-list p {
    font-size: 10px;
    text-align: center;
  }
}
main .services {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
main .services h2 {
  font-size: 40px;
  text-transform: capitalize;
}
main .services .service-type {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 40px;
  gap: 40px;
}
main .services .service-type .service-type-list {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 500px;
  padding: 20px;
  background-color: whitesmoke;
  border-radius: 10px;
  max-width: 400px;
  background: #cbcbcb;
}
main .services .service-type .service-type-list svg {
  height: 80px;
}
main .services .service-type .service-type-list h2 {
  color: #81047c;
  font-size: 30px;
}
main .services .service-type .service-type-list p {
  font-size: 30px;
  text-align: center;
}

@media screen and (max-width: 1000px) {
  main .services {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  main .services h2 {
    font-size: 20px;
    text-transform: capitalize;
  }
  main .services .service-type {
    display: flex;
    justify-content: space-evenly;
    flex: wrap;
    align-items: center;
    margin: 20px;
    gap: 40px;
  }
  main .services .service-type .service-type-list {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 200px;
    padding: 10px;
    background-color: whitesmoke;
    border-radius: 10px;
    max-width: 200px;
    background: #cbcbcb;
  }
  main .services .service-type .service-type-list svg {
    height: 40px;
  }
  main .services .service-type .service-type-list h2 {
    color: #81047c;
    font-size: 12px;
  }
  main .services .service-type .service-type-list p {
    font-size: 12px;
    text-align: center;
  }
}
@media screen and (max-width: 700px) {
  main .services {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  main .services h2 {
    font-size: 20px;
    text-transform: capitalize;
  }
  main .services .service-type {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
  }
  main .services .service-type .service-type-list {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 150px;
    padding: 20px;
    background-color: whitesmoke;
    border-radius: 10px;
    max-width: 150px;
    background: #cbcbcb;
  }
  main .services .service-type .service-type-list svg {
    height: 30px;
  }
  main .services .service-type .service-type-list h2 {
    color: #81047c;
    font-size: 12px;
  }
  main .services .service-type .service-type-list p {
    font-size: 10px;
    text-align: center;
  }
}
main footer {
  display: flex;
  justify-content: space-between;
  background: #81047c;
  width: 100%;
  height: 6vh;
  align-items: center;
}
main footer .social-media {
  display: flex;
  flex-direction: row;
  padding: 10px;
}
main footer .social-media svg {
  height: 20px;
  gap: 15px;
}
main footer h3 {
  color: white;
  font-size: 10px;
  font-weight: 400;
  text-transform: capitalize;
}

@media screen and (max-width: 1000px) {
  main footer {
    display: flex;
    justify-content: space-between;
    background: #81047c;
    width: 100%;
    height: 6vh;
    align-items: center;
  }
  main footer .social-media {
    display: flex;
    flex-direction: row;
    padding: 10px;
  }
  main footer .social-media svg {
    height: 20px;
    gap: 15px;
  }
  main footer h3 {
    color: white;
    font-size: 10px;
    font-weight: 400;
    text-transform: capitalize;
  }
  main footer {
    display: flex;
    justify-content: space-between;
    background: #81047c;
    width: 100%;
    height: 6vh;
    align-items: center;
  }
  main footer .social-media {
    display: flex;
    flex-direction: row;
    padding: 10px;
  }
  main footer .social-media svg {
    height: 20px;
    gap: 15px;
  }
  main footer h3 {
    color: white;
    font-size: 10px;
    font-weight: 400;
    text-transform: capitalize;
  }
}
@media screen and (max-width: 700px) {
  main footer {
    display: flex;
    justify-content: space-between;
    background: #81047c;
    width: 100%;
    height: 6vh;
    align-items: center;
  }
  main footer .social-media {
    display: flex;
    flex-direction: row;
    padding: 10px;
  }
  main footer .social-media svg {
    height: 15px;
    gap: 10px;
  }
  main footer h3 {
    color: white;
    font-size: 6px;
    font-weight: 400;
    text-transform: capitalize;
  }
}
.nav-bar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 8vh;
  position: sticky;
}
.nav-bar h1 {
  color: black;
  font-size: 2em;
  text-transform: capitalize;
  display: flex;
}
.nav-bar h1 span {
  color: #81047c;
}
.nav-bar ul li {
  list-style-type: none;
  color: rgb(53, 53, 53);
  display: inline-block;
  text-transform: capitalize;
}
.nav-bar ul li a {
  color: rgb(53, 53, 53);
  font-size: 20px;
  padding: 10px;
  text-decoration: none;
}
.nav-bar .my {
  display: flex;
  justify-content: center;
}
.nav-bar .my svg {
  height: 30px;
}
.nav-bar .my a {
  font-size: 20px;
  text-decoration: none;
  text-transform: capitalize;
}
.nav-bar .mobile {
  display: none;
}

@media screen and (max-width: 1000px) {
  .nav-bar {
    width: 100%;
    height: 8vh;
  }
  .nav-bar h1 {
    font-size: 1em;
  }
  .nav-bar ul li a {
    font-size: 12px;
    padding: 10px;
  }
  .nav-bar .my svg {
    height: 15px;
  }
  .nav-bar .my a {
    font-size: 10px;
    color: #1c1c1c;
  }
}
@media screen and (max-width: 700px) {
  .nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 8vh;
    box-shadow: 0 0 20px 0 #81047c;
  }
  .nav-bar h1 {
    color: black;
    font-size: 1.33em;
    text-transform: capitalize;
    display: flex;
    padding-left: 40px;
  }
  .nav-bar h1 span {
    color: #81047c;
  }
  .nav-bar ul {
    display: none;
  }
  .nav-bar .my {
    display: none;
  }
  .nav-bar .mobile {
    display: flex;
  }
  .nav-bar .mobile svg {
    height: 25px;
  }
}

/*# sourceMappingURL=main.css.map */
